html,
body {
  height: 100%;
}
html {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;

  font-size: 1rem;
  line-height: 1.6;
  background: rgb(255, 255, 255);
}

.main-login {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.14);
}
.main-tracker {
  background-color:rgba(255, 242, 242,0.8);
  width: 80%;
  margin: 5em auto;
  padding: 2em;
  border-radius: 1.5em;
  display: table-cell; 
  align-items: flex-end;
  outline: rgba(0, 0, 0, 0.54);
  box-shadow: 0px 11px 35px 2px rgba(243, 198, 198, 0.54)
}
.subscription-article {
  background: rgba(253, 190, 190, 0.3);
  border-radius: 0.5em;
  padding: 1px 1px;
  margin: 1em;
  display:flex;
  flex-direction: column;

}
.subscription-article >h2 ,p {
  margin: 1em;
  font-size: 90%;
  
}
.subscription-article >button {
  justify-content: flex-end;
}
.main-signup {
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.14);
}
.sign {
  padding-top: 40px;
  color: #8C55AA;
  font-weight: bold;
  font-size: 23px;
  justify-content: center;
  display: flex;
}

.username {
  width: 76%;
  color: rgb(38,50,56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136,126,126,0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}

.pass{
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}

.username:focus, .pass:focus {
  border: 2px solid rgba(0,0,0,0.18) !important;
}

.submit-btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117,117,117, 0.12);
  color:#E1BEE7;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.form1 {
  padding-top: 40px;
}

.header {
  flex: 1 1 auto;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.header-div {
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

.menu-uncollapsed {
  padding: 0;
  border: 0;
  display: flex;
  justify-content: flex-end;
  background: transparent;
}

.menu-link {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 2;
  text-decoration: none;
  font-weight: 300;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgb(213, 247, 255,0.8);
  border-radius: 10px;
}
/*.logo-image {
  width: 64px;
  height: 32px;
  margin: 22px auto 0 0;
  white-space: nowrap;
  flex-shrink: 0;
  object-fit: cover;
  display: table;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  justify-content: start;
}*/

.logo-image {
  width: 200px;
  height: 200px;
  display: table;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.about-image {
  display: block;
  border-radius: 8px;
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.menu-content-separator {
  display: flex;
  flex-direction: row;
}

.text-about {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-about {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.about-container {
  background: rgba(195, 141, 202, 0.3);
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
  object-fit: fill;
}
